.beam-page-container {
    /* border: 1px solid black; */

    max-width: 900px;
    margin: auto;
    padding: 0 8px;
}

.beam-details-container {
    padding: 0 20px 0 60px;
    display: flex;
    align-items: center;
}

.img-status-container {
    display: flex;
}

.details-text-container {
    width: 100%;
}

.details-text-container h2 {
    text-align: center;
}

.details-text-sub-container ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

@media (max-width:500px) {
    .beam-details-container {
        padding: 0 20px 0 20px;
        flex-direction: column;
    }
}

.supports_loads-container {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-bottom: 16px;
}


.loads-cruds-main-container,
.supports-cruds-main-container {
    width: 100%;
    /* margin: 12px 20px; */
    padding-bottom: 12px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/* .loads-cruds-main-container >*,
.supports-cruds-main-container >*{
    border-bottom: 1px solid black;
    padding-bottom: 8px;
} */

.beam-crud-title {
    margin: 8px 0 4px 0;
}

.beam-crud-main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    border-top: 1px solid black;
    padding-top: 16px;
}

.btns-beam-crud-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.edit-delete-beam-crud-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.beam-crud-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

span.title {
    text-decoration: underline;
}

.property {
    color: gray;
}

.length-crud-container {
    width: 100%;
    margin: 16px 0;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.length-beam-text {
    margin: 8px;
}

.beam-input {
    margin: 8px;
    width: 80px;
    border-radius: 8px;
}

.create-mode-btn-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
}

@media (max-width:640px) {
    .create-mode-btn-container {
        display: flex;
        flex-direction: column;
    }
}

.create-mode-btn {
    margin: 8px;
    padding: 8px;
    background-color: inherit;
    transition: background-color 0.5s;
}

.create-mode-btn:hover {
    cursor: pointer;
    background-color: #e7e7e7;
}