.beam-link-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    margin: 16px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px;
}